.top
{
    text-align: center;
}

input[type="text"]
{
    width: 400px;
    padding: 12px 20px;
    margin: 0px 0;
    margin-bottom: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
    background-color: #F2F2F2;
}

input[type=text]:focus
{
    border: 3px solid #555;
    outline: 0;
    margin-bottom: 2px;
}

input[type=image]:focus
{
    outline: 0;
}

body
{
    background-color: #F2F2F2;
    font-family: 'Lato', sans-serif;
}

button:focus
{
    outline:0;
}

/* Popup container - can be anything you want */
.popup
{
    position: relative;
    cursor: pointer;
    user-select: none;
}

/* The actual popup */
.popup .popupText
{
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Toggle this class - hide and show the popup */
.popup .show
{
    visibility: visible;
    animation: fadeIn 1s;
}

@keyframes fadeIn
{
    from {opacity: 0;}
    to {opacity:0.5 ;}
}